header#main {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: orange;
  color: #FFFF;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}