main {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  color: #545149;
  background-color: #f4f1ec;
}

form label {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#tweet-text {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  outline: none;
  border-bottom: 4px solid #545149;
  border-right: 4px solid #545149;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16pt;
  color: #545149;
  resize: none;
  background-color: #f4f1ec;
}

#submit-tweet {
  outline: none;
  background-color: #4056A1;
  color: white;
  border-radius: 10px;
}

.counter {
  padding-left: 520px;
}

/*
 * error message styling
 */

#error {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  border: 2px solid orange;
  border-radius: 20px;
  color: white;
  background-color: orange;
}