nav {
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  height: 120px;
  color: #FFFF;
  padding: 1.5em;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-size: x-large;
}

.nav-tidbits {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px
}

.nav-tidbits p {
  margin: 0;
  font-family: sans-serif;
  font-size: large;
}

#nav-arrow {
  text-decoration: none;
  color: #DB4D0F;
}

/* @media query */
@media only screen and (max-width: 768px) {
  nav {
    background-color: orange;
    background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  }

  .nav-tidbits {
    color: #FFFF;
  }
}

@media only screen and (min-width: 769px) {
  nav {
    background-color: #4056A1;
  }

  .nav-tidbits {
    color: orange;
  }
}


