nav {
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  flex-direction: column;
  justify-content: flex-end;
}



